body
{
    background: #000000;
    color: #277C99;
}
#box
{
    margin: 20px;
    outline-width: thick;
    outline-color: #1C2D33;
    outline-style: dashed;
    background: #1C2D33;
    max-width: 500px;
}
#left
{
    margin-left: 20px;
}
h1
{
    color: #009699;
    font-size: 50px;
}
h2
{
    color: #009699;
    margin-left: 20px;
}
a
{
    color: #277C99;
    border-bottom-color: #277C99;
}